@import url("./css/fonts.css");
@import url("./css/normalize.css");
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

html {
  font-size: 16px;
  font-family: Golos, sans-serif;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  max-width: 1440px;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    height: 100%;
    overflow: hidden;
  }
}

.contacts {
  position: absolute;
  top: 1%;
  left: 1%;
}
@media screen and (max-width: 425px) {
  .contacts {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4d4d4d;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contacts-button {
  display: none;
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 100;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .contacts-button {
    display: flex;
  }
}

.contacts__close {
  position: fixed;
  right: 4%;
  top: 2%;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .contacts__list {
    color: #ffffff;
  }
}

.contact {
  margin-bottom: 1rem;
}
.contact:last-child {
  margin-bottom: 0;
}

.contact__link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
}
@media screen and (max-width: 425px) {
  .contact__link {
    text-decoration: underline;
  }
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .section__title {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 425px) {
  .section__title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section__content {
    display: none;
  }
}

.section__content.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .section__content.mobile {
    display: flex;
  }
}

.section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90vh;
}

.previews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .previews {
    justify-content: unset;
    align-items: unset;
  }
}

.diplomas .previews__item {
  margin-right: 2rem;
}
.diplomas .previews__item:last-child {
  margin-right: 0;
}
.diplomas .preview {
  padding: 0;
}
.diplomas .preview .preview__image {
  margin-bottom: 0;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  width: 23%;
}
@media screen and (max-width: 768px) {
  .preview {
    width: 40%;
    justify-content: flex-start;
    box-shadow: none;
  }
  .preview:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .preview {
    padding: 0;
  }
}

.preview__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1440px) {
  .preview__title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .preview__title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
  }
}

.preview__image {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .preview__image {
    height: 20rem;
  }
  .preview__image:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .preview__image {
    height: 15rem;
  }
}

.slider {
  margin: 0;
}

.slider-diplom .preview__image {
  height: 40rem;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .slider-diplom .preview__image {
    margin-right: 1rem;
  }
  .slider-diplom .preview__image:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .slider-diplom .preview__image {
    height: 25rem;
  }
}

.preview__description {
  width: 90%;
  min-height: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  padding-bottom: 0.5rem;
}

.preview__links {
  width: 80%;
  overflow: hidden;
  align-self: start;
  padding-left: 0.5rem;
}

.preview__link {
  margin-bottom: 1rem;
}
.preview__link:last-child {
  margin-bottom: 0;
}

.link__address {
  white-space: nowrap;
}

.previews.none {
  display: none;
}

.bx-wrapper {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}